body {
  font-family: "Inter", sans-serif;
}

.hero {
  background: url("../images/programming-end-bracket-code-HTML-blue-simplicity-sign-symbol.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: center;
  background-position: center;
  padding: 6rem 0;
  text-align: center;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .text {
    font-size: 1.5rem;
  }

  .card {
    height: 15rem;
  }
}
